*{
    padding: 0;
    margin: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 70%;
    padding: 10px 20px;
    background: #FFF;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 1px 4px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.container .image{
    width: 50%;
}
.image img{
    width: 100%;
}
.container h2{
    margin-bottom: 40px;
}
form{
    position: relative;
}
.alert{
    text-align: center;
    width: 100%;
    padding: 10px;
    background: hsl(346deg 96% 32% / 90%);
    position: absolute;
    top: -16%;
    color: #FFF;
    font-size: 13px;
    display: none;
    animation: displayable .4s ease-in-out;
}
@keyframes displayable {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
form .pass_div{
    margin-bottom: 20px;
}
form input{
    width: 100%;
    padding: 10px 20px;
    border: 1px solid purple;
    outline: none;
    border-radius: 25px;
    color: #565656;
    font-size: 16px;
}
form a{
    text-align: center;
    text-decoration: none;
    display: block;
    background: #9d5df9;
    color: #FFF;
    padding: 10px;
}
form label{
    display: inline-block;
    color: #bbbbbb;
    margin-bottom: 5px;
    font-size: 13px;
}
.pass_div{
    position: relative;
}
.pass_div .show{
    position: absolute;
    top: 55%;
    right: 15px;
    cursor: pointer;
}
.pass_div .show img{
    width: 20px;
}
.link{
    margin-top: 30px;
}

@media(max-width: 991px){
    .container{
        flex-direction: column;
    }
    .container h2{
        margin-bottom: 20px;
        font-size: 20px;
    }
    form{
        width: 100%;
    }
    .container .image{
        width: 300px;
    }
    form .pass_div{
        margin-bottom: 10px;
    }
    .link{
        margin-top: 20px;
    }
}

@media(max-width: 400px){
    .container h2{
        margin-bottom: 20px;
        font-size: 17px;
    }
    .container .image{
        width: 80%;
    }
}